.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

}

.mat-dialog-content{
  overflow-x: hidden;
  overflow-y: auto;
}
.form {
  display: flex;
  padding-top: 6px;
}
.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

select {
  width: auto;
}

