<div class="contentWrapper">
  <button mat-flat-button color="accent" routerLink="/students">Back</button>

  <mat-tab-group color="accent" animationDuration="0ms">
    <mat-tab label="Info">
      <mat-list>
        <mat-list-item> {{st.name}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> {{st.email}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> {{st.phone}} </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-tab>
    <mat-tab label="Electives">
      <mat-list *ngFor="let elective of st.electives">
        <mat-list-item> {{elective.name}} </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-tab>
    <mat-tab label="Marks">

      <table class="table">
        <tr scope="row" *ngFor="let ms of st.studentMarkSubjects">
          <td>{{ms.subject.name}}</td>
          <td>{{ms.mark.mark}}</td>
        </tr>
      </table>

    </mat-tab>
  </mat-tab-group>

</div>
